body{
    background-color: rgb(156, 156, 156);
}

*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    align-items: center;
    border-bottom: #dad6d6 5px solid;

}

a{
    
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: x-large;
    text-decoration: none;
    background-color:white;
    color: #000;
     border-right: #969696 solid;
     padding-right: 24px;
}

.P{
    background-image: url(image/35ff878889243d89ae29313eae144960.jpg);
    width: 1000px;
    height: 1200px;
    margin: auto;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: end;

}
h1{
font-size: 100px;
}
h2{
font-size: 50px;
}
.p{
    background-color: #4f6f52;
    width: 1000px;
    height: 1500px;
    margin: auto;
    
}

.i{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;

}
.m{
    cursor: pointer;
   transition: all 0.3s ease;
    width: 600px;
    height: 400px;
    margin-top: 20px;
    
    
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 9999;
}

@media  (max-width: 1120px) {
   
    
    a{
        
       
        font-size:20px;
        
 }
}
@media  (max-width: 970px) {
   
    
    a{
        
       
        font-size:15px;
        
 }

 @media  (max-width: 778px) {
   
    
    a{
        
       
        font-size:13px;
    }
}
}
